# --------------------
# Flutter / Dart
# --------------------
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# --------------------
# React / Node
# --------------------
node_modules/
dist/
build/
.env
.env.local

# --------------------
# Python / FastAPI
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env

# --------------------
# OS / IDE
# --------------------
.vscode/
.idea/
.DS_Store
Thumbs.db
